<% provide(:title, 'Show Course') %>
<div class="container">
	<div class="row">
		<div class="span12">
			<div align="center">
				<%= render @course%>
				 <%= link_to "Add Review", {:controller => "courses", :action => "comment"} %>  
			</div>
		</div>
	</div>
</div>